.analytics-card {

    background: white;

    padding: 25px;

    border-radius: 20px;

    box-shadow:
        0 10px 25px rgba(0,0,0,0.08);

    transition: all 0.3s ease;
}

.analytics-card:hover {

    transform: translateY(-5px);

}